{% extends 'trading/base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block mytitle %} 账户信息 {% endblock %}</title>
</head>

<body>

{% block mybody %}

    <div class="col-12 mb-30">
        <div class="box">
            <div class="box-head">
                <h1 class="title">账户持仓情况</h1>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th>账户</th>
                            <th>账户余额</th>
                            <th>品种</th>
                            <th>持仓量（张）</th>
                            <th>开仓均价</th>
                            <th>止盈</th>
                            <th>止损</th>
                            <th>方向</th>
                            <th>收益(USDT)</th>
                            <th>机器人</th>
                            <th>状态</th>
                            <th>平仓</th>
                            <th>策略</th>
                            <th>数据</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for one_accountinfo in accountinfo %}
                            <tr>
                                <td>{{ one_accountinfo.account_text }}</td>
                                <td>{{ one_accountinfo.balance }}</td>
                                <td>{{ one_accountinfo.instId }}</td>
                                <td>{{ one_accountinfo.pos }}</td>
                                <td>{{ one_accountinfo.avgPx }}</td>
                                <td>{{ one_accountinfo.tpTriggerPx }}</td>
                                <td>{{ one_accountinfo.slTriggerPx }}</td>
                                <td>{{ one_accountinfo.posSide }}</td>
                                <td>{{ one_accountinfo.upl }}</td>
                                <td>{{ one_accountinfo.strategy_name }}</td>
                                <td id='{{ one_accountinfo.id }}'>{{ one_accountinfo.status }}</td>
                                <td>
                                    <button type="button" class="button button-success button-xs">
                                        <a href="{% url 'trading:close_positions_one' %}?accountinfo_id={{ one_accountinfo.id }}">市价平仓</a>
                                </button>
                                </td>
                                <td>
                                    <button type="button" class="button button-primary button-xs">
                                        <a href="{% url 'trading:strategyinfo' %}">查看策略</a>
                                </button>
                                </td>
                                <td>
                                    <button type="button" class="button button-info button-xs">
                                        <a href="{% url 'trading:orderinfo' %}?accountinfo_id={{ one_accountinfo.id }}">查看历史数据</a>
                                </button>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>