
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>绑定的账户信息</title>
<style type="text/css">
* {
    padding: 0;
    margin: 0;
    text-align: center;
}
body {
    padding-bottom: 200px;
}
div {
    font-size: 36px;
}
.header-item {
    line-height: 4;
}
.box1 {
    color: rgba(0, 0, 0, .3);
}

</style>
</head>
<body>
<p class="header-item">1.Api key</p>
<div class="box1">{{ accountinfo.api_key }}</div>

<p class="header-item">2.Secret key</p>
<div class="box1">{{ accountinfo.secret_key }}</div>

<p class="header-item">3.Passphrase</p>
<div class="box1">{{ accountinfo.passphrase }}</div>

<p class="header-item">4.用户姓名</p>
<div class="box1">{{ accountinfo.account_text }}</div>

<p class="header-item">5.保证金（USD）</p>
<div class="box1">{{ accountinfo.balance }}</div>

{#<p class="header-item">6.电话</p>#}
{#<div class="box1">{{ accountinfo.phone }}</div>#}
{##}
{#<p class="header-item">7.邮箱</p>#}
{#<div class="box1">{{ accountinfo.email }}</div>#}

<p class="header-item">6.推介人姓名</p>
<div class="box1">{{ accountinfo.promoter }}</div>

</body>
</html>