{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Beta Go | {% block mytitle %} base {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'trading/css/base.css' %}"/>

    {% block myscirpt %}
        <script type="text/javascript" src="/static/js/jquery-3.6.1.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
    {% endblock %}

    {% block mystyle %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="background-color: #232f3e !important;">
    <a class="navbar-brand" href="#">Beta Go</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active"><a class="nav-link" href="{% url 'trading:trading' %} ">首　　页 <span
                    class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'trading:trade' %} ">登陆交易</a></li>
            <li class="nav-item"><a class="nav-link" href="#{% url 'trading:close_positions_all' %} ">一键平仓</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'trading:account_info' %} "> 账户状态 </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'trading:addaccount' %} "> 添加账户 </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'trading:orderinfo' %} "> 历史记录 </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'trading:strategyinfo' %} "> 策略 </a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">资金</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'trading:check_account_asset_bills' %}">查看流水</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'trading:get_account_asset_bills' %}">更新流水</a>
                </div>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="mdi mdi-account menu-icon"></i>
              <span class="menu-title">流水</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="dropdown-menu" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'trading:check_account_asset_bills' %}"> 查看流水 </a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'trading:get_account_asset_bills' %}"> 更新流水 </a></li>
              </ul>
            </div>
          </li>

            <li class="nav-item"><a class="nav-link" href="{% url 'trading:check_log' %} "> 日志 </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'trading:matrade_open_order' %} "> 直接下单 </a>
            </li>
        </ul>
        <a class="nav-link" href="{% url 'trading:tologout' %} "> 退出登录 </a>
    </div>
</nav>

{% block jumpart %}
{% endblock %}

<div class="container-xl" style="margin-top: 20px">
    {% block mybody %}
        <p>original</p>
    {% endblock %}
</div>
</body>
</html>