{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Beta Go | {% block mytitle %} base {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'trading/css/base.css' %}"/>

    {% block myscirpt %}
        <script type="text/javascript" src="/static/js/jquery-3.6.1.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
    {% endblock %}

    {% block mystyle %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="background-color: #232f3e !important;">
    <a class="navbar-brand" href="#">Beta Go</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active"><a class="nav-link" href="{% url 'trading:trading_no_login' %} ">首　　页 <span
                    class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'trading:strategyinfo_no_login' %} "> 机器人 </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'trading:account_info_no_login' %} "> 账户状态 </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'trading:orderinfo_no_login' %} "> 历史记录 </a></li>

        </ul>
        <a class="nav-link" href="{% url 'trading:tologin' %} "> 登录 </a>
    </div>
</nav>

{% block jumpart %}
{% endblock %}

<div class="container-xl" style="margin-top: 20px">
    {% block mybody %}
        <p>original</p>
    {% endblock %}
</div>
</body>
</html>