{% extends 'trading/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block mytitle %} 资金流水 {% endblock %}</title>
</head>
<body>
{% block mybody %}
    <form  action="{% url 'trading:check_account_asset_bills' %}" method="post" class="smart-green">
    {% csrf_token %}
                <h2>查看账户资金流水</h2>
                <label>选择账户</label>
                <select name="accountinfo_id" id="accountinfo_id">
                        {% for info in all_accountinfo %}
                            <option value={{ info.id }}>{{ info.account_text }}</option>

                        {% endfor %}
                </select>
        <input type="submit" value="确定">
    </form>
{% endblock %}
</body>
</html>