{% extends 'trading/base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block mytitle %} 资金流水 {% endblock %}</title>


</head>
<body>

{% block mybody %}

    <div class="col-12 mb-30">
        <div class="box">
            <div class="box-head">
                <h1 class="title">账户资金流水</h1>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th>账户</th>
                            <th>账户层面的余额数量</th>
                            <th>账户层面的余额变动数量</th>
                            <th>账单类型</th>
                            <th>日期</th>
                            <th>账户余额币种</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for bill in bills %}
                            <tr>
                                <td>{{ bill.accountinfo }}</td>
                                <td>{{ bill.bal }}</td>
                                <td>{{ bill.balchg }}</td>
                                <td>{{ bill.type }}</td>
                                <td>{{ bill.bill_date }}</td>
                                <td>{{ bill.ccy }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

</body>
</html>