{% extends 'trading/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block mytitle %} 一键平仓 {% endblock %}</title>
</head>
<body>
{% block mybody %}
<h1> 一键平仓 </h1>
    <form action="{% url 'trading:close_positions_all'  %}" method="post">
        {% csrf_token %}
        <label > 密码 </label>
        <input type="text" name="code" id="code" >
        <br>
        <br>
        <input type="submit" value="确定">
    </form>
{% endblock %}
</body>
</html>