{% extends 'trading/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block mystyle %}
{#    <script src="/trading/js/jquery-3.6.0.min.js"></script>#}
     <script>
            // 选中添加到右边
            function selectedToRight(){

                // 获取select2标签
                var select2 = document.getElementById("select2");
                // 获取select1标签
                var select1 = document.getElementById("select1");
                // 获取option
                var option1 = select1.getElementsByTagName("option");
                // 遍历
                for (var i=0;i<option1.length;i++) {
                    var optioni = option1[i];
                    //是否被选中
                    if(optioni.selected == true){
                        // 添加到select2里面
                        select2.appendChild(optioni);
                        //数组长度发生变化，需要处理
                        i--;
                    }
                }
            }

            // 选中添加到左边
            function selectedToLeft(){

                // 获取select2标签
                var select2 = document.getElementById("select2");
                // 获取select1标签
                var select1 = document.getElementById("select1");
                // 获取option
                var option2 = select2.getElementsByTagName("option");
                // 遍历
                for (var i=0;i<option2.length;i++) {
                    var optioni = option2[i];
                    //是否被选中
                    if(optioni.selected == true){
                        // 添加到select1里面
                        select1.appendChild(optioni);
                        //数组长度发生变化，需要处理
                        i--;
                    }
                }
            }

            // 全部添加到右边
            function allToRight(){
                // 获取select2标签
                var select2 = document.getElementById("select2");
                // 获取select1标签
                var select1 = document.getElementById("select1");
                // 获取option
                var option1 = select1.getElementsByTagName("option");
                // 遍历
                for (var i=0;i<option1.length;i++) {
                    var optioni = option1[i];
                    // 添加到select2里面
                    select2.appendChild(optioni);
                    //数组长度发生变化，需要处理
                    i--;
                }
            }


            // 全部添加到左边
            function allToLeft(){

                // 获取select2标签
                var select2 = document.getElementById("select2");
                // 获取select1标签
                var select1 = document.getElementById("select1");
                // 获取option
                var option2 = select2.getElementsByTagName("option");
                // 遍历
                for (var i=0;i<option2.length;i++) {
                    var optioni = option2[i];
                    // 添加到select1里面
                    select1.appendChild(optioni);
                    //数组长度发生变化，需要处理
                    i--;

                }
            }
        </script>
    {% endblock %}
</head>
<body>
{% block basehtml %}
    <H1> 周期策略参数设置 </H1>
    <form action="{% url 'trading:matrade'  %}" method="post">
        {% csrf_token %}
        <h2>
            均线  <select name="ma" id="maalarm">
                    <option style="display:none"></option>
                    <option value="60MA">60</option>
                    <option value="90MA">90</option>
            </select>
        </h2>

        <h2>
            品种  <select name="instId" id="instId">
                    <option style="display:none"></option>
                    <option value="ETH-USDT-SWAP">ETHUSDT</option>
                    <option value="BTC-USDT-SWAP">BTCUSDT</option>
            </select>
        </h2>

        <h2>K线周期

                <select name="bar" id="instId">
                    <option style="display:none"></option>
                    <option value="5m">5min</option>
                    <option value="15m">15m</option>
                    <option value="30m">30m</option>
                    <option value="1H">1H</option>
                    <option value="2H">2H</option>
                    <option value="4H">4H</option>
                    <option value="6H">6H</option>
                    <option value="12H">12H</option>
                    <option value="1D">1D</option>
            </select>
        </h2>

        <hr>

            <h2>选择账户</h2>
                <div id="s1" style="float: left;">
                    <div>
                        <select name="select1" id="select1" multiple="multiple" style="width: 100px;height: 100px;">
                            {% for accountinfo in accountinfos %}
                                <option value={{ accountinfo.id }}>{{ accountinfo.account_text }}</option>
                            {% endfor %}
                        </select>

                        <div>
                            <input type="button" value="添加账户" onclick="selectedToRight();"/><br />
{#                            <input type="button" value="全部添加" onclick="allToRight();"/>#}
                        </div>

                    </div>
                </div>

                <div id="s2" >
                    <div>
                        <select name="select2" id="select2" multiple="multiple" style="width: 100px;height: 100px;">
                        </select>

                        <div>
                            <input type="button" value="删除账户" onclick="selectedToLeft();"/><br />
{#                            <input type="button" value="全部删除" onclick="allToLeft();"/>#}
                        </div>

                    </div>
                </div>

        <br>
        <br>
         <hr>
        <input type="submit" value="确定">

    </form>

{% endblock %}
</body>
</html>