{% load static %}

<!doctype html>
<html class="no-js" lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>注册</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'trading/images/favicon.ico' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'trading/images/favicon.ico' %}">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'trading/css/vendor/bootstrap.min.css' %}">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'trading/css/vendor/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'trading/css/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'trading/css/vendor/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'trading/css/vendor/cryptocurrency-icons.css' %}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'trading/css/plugins/plugins.css' %}">

    <!-- Helper CSS -->
    <link rel="stylesheet" href="{% static 'trading/css/helper.css' %}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'trading/css/style.css' %}">

    <!-- Custom Style CSS Only For Demo Purpose -->
    <link id="cus-style" rel="stylesheet" href="{% static 'trading/css/style-primary.css' %}">

</head>

<body>

<div class="main-wrapper">

    <!-- Content Body Start -->
    <div class="content-body m-0 p-0">

        <div class="login-register-wrap">
            <div class="row">

                <div class="d-flex align-self-center justify-content-center order-2 order-lg-1 col-lg-5 col-12">
                    <div class="login-register-form-wrap">

                        <div class="content">
                            <h1>欢迎注册</h1>
                            <p>注册您的Beta Go账户</p>
                        </div>

                        <div class="login-register-form">
                            <form action="{% url 'trading:toregister' %}" method="post">
                                {% csrf_token %}
                                <div class="row">

                                    <div class="row col-12 mb-20">
                                        <div class="col-3 pt-15"><label for="username">姓名</label></div>
                                        <div class="col-9"><input class="form-control" type="text" id="username"
                                                                  name="username" required="required" autocomplete="off"></div>

                                    </div>
                                    <div class="row col-12 mb-20">
                                        <div class="col-3 pt-15"><label for="phonenumber">手机号</label></div>
                                        <div class="col-9"><input class="form-control" type="tel" id="phonenumber" name="phonenumber" required="required" autocomplete="off"
                                        maxlength="11" oninput="value=value.replace(/[^\d]/g,'')"></div>

                                    </div>
                                    <div class="row col-12 mb-20">
                                        <div class="col-3 pt-15"><label for="password">密码</label></div>
                                        <div class="col-9"><input class="form-control" type="password" id="password" name="password" required="required" autocomplete="new-password"></div>

                                    </div>
                                    <div class="row col-12 mb-20">
                                        <div class="col-3 pt-15"><label for="password2">确认密码</label></div>
                                        <div class="col-9"><input class="form-control" type="password" id="password2" name="password2" required="required" autocomplete="new-password"></div>

                                    </div>
                                    <div class="row col-12 mb-20">
                                        <div class="col-3 pt-15"><label for="invitation_code">邀请码</label></div>
                                        <div class="col-9"><input class="form-control" type="text" id="invitation_code" name="invitation_code" required="required" autocomplete="off"></div>

                                    </div>

                                        <p class="text-danger">{{ error_msg }}</p>
                                    <div class="col-12">
                                            <div class="row justify-content-between">
                                                <div class="col-auto mb-15">已有帐户? <a href="{% url 'trading:tologin' %}">请登录.</a></div>
                                            </div>
                                        </div>
                                    <div class="col-12 mt-10">
                                        <button class="button button-primary button-outline">注册</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <div class="login-register-bg order-1 order-lg-2 col-lg-7 col-12">
                    <div class="content">
                        <h1>欢迎注册</h1>
                        <p>注册您的Beta Go账户</p>
                    </div>
                </div>

            </div>
        </div>

    </div><!-- Content Body End -->

</div>

<!-- JS
============================================ -->

<!-- Global Vendor, plugins & Activation JS -->
<script src="{% static 'trading/js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'trading/js/vendor/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'trading/js/vendor/popper.min.js' %}"></script>
<script src="{% static 'trading/js/vendor/bootstrap.min.js' %}"></script>
<!--Plugins JS-->
<script src="{% static 'trading/js/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'trading/js/plugins/tippy4.min.js.js' %}"></script>
<!--Main JS-->
<script src="{% static 'trading/js/main.js' %}"></script>

</body>

</html>