{% extends 'trading/base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block mytitle %} 日志浏览 {% endblock %}</title>

</head>

<body>
{% block mybody %}

    <div class="col-12 mb-30">
        <div class="box">
            <div class="box-head">
                <h1 class="title">{{ filename }}</h1>
            </div>
            <div class="box-body mr-20">
                <p style="white-space: pre-line">{{ file_content }}</p>
            </div>
        </div>
    </div>

{% endblock %}
</body>
</html>