{% extends 'trading/base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block mytitle %} 日志浏览 {% endblock %}</title>

</head>

<body>
{% block basehtml %}
    <div class="form-group logdata">
        <div class="alert alert-primary" role="alert">
            <label for="exampleFormControlTextarea1">日志 </label>
        </div>

        <textarea class="form-control" id="exampleFormControlTextarea1" name=text rows=65
                  readonly="readonly">{{ file_content }}</textarea>
    </div>
{% endblock %}
</body>
</html>