{% extends 'trading/base_no_login.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block mytitle %} 机器人 {% endblock %}</title>

    {% block myscirpt %}
        <script type="text/javascript" src="/static/jquery/jquery-3.6.1.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="{% static 'trading/js/strategy.js' %}"></script>
    {% endblock %}

    {% block mystyle %}
        <link rel="stylesheet" type="text/css" href="{% static 'trading/css/strayegy.css' %}"/>
    {% endblock %}

<body>

{% block mybody %}

        <div class="col-12 mb-30">
        <div class="box">
            <div class="box-head">
                <h1 class="title">机器人运行情况</h1>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th>编号</th>
                            <th>机器人</th>
                            <th>合约</th>
                            <th>bar</th>
                            <th>MA</th>
                            <th>运行中的账户</th>
                            <th>状态</th>
                            <th>启动时间</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for strategyinfo in strategyinfos %}
                            <tr>
                            <td>{{ strategyinfo.id }}</td>
                            <td>{{ strategyinfo.name }}</td>
                            <td>{{ strategyinfo.instid }}</td>
                            <td>{{ strategyinfo.bar2 }}</td>
                            <td>{{ strategyinfo.ma }}</td>
                            <td>
                                {% for name in strategyinfo.accountinfo %}
                                    {{ name }}
                                    <br>
                                {% endfor %}
                            </td>
                            <td>{{ strategyinfo.status }}</td>
                            <td>{{ strategyinfo.create_time }}</td>

                            <!--  <td>
                                 <button class="btn btn-primary">不可用</button>
                             </td>-->

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>





{% endblock %}
</body>

</html>