<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1><a href="{%  url 'trading:login' %} "> 登陆交易 </a></h1>
    <h1><a href="{%  url 'trading:close_positions_all' %} "> 一键平仓 </a></h1>
    <h1><a href="{%  url 'trading:account_info' %} "> 账户状态 </a></h1>
    <h1><a href="{%  url 'trading:addaccount' %} "> 添加账户 </a></h1>
    <h1><a href="{%  url 'trading:orderinfo' %} "> 订单信息 </a></h1>
{#    <h1><a href="{%  url 'trading:close_positions_all' %} "> 一键平仓 </a></h1>#}
{#    <h1><a href="{%  url 'trading:close_positions_all' %} "> 策略 </a></h1>#}

</body>
</html>