{% extends 'trading/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{% block mytitle %} 首页 {% endblock %}</title>
    {% block mystyle %}
        <link rel="stylesheet" type="text/css" href="{% static 'trading/css/trade.css' %}"/>
    {% endblock %}
</head>
<body>

{% block mybody %}
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div style="margin-bottom: 100px; margin-top: 80px">
                <div class="alert alert-ligh" role="alert" style="text-align: center">
                    <label for="exampleFormControlTextarea1" style="font-size: 40px">Beta Go
                        帮助您实现交易自动化 </label>
                </div>

                <p style="text-align: center">Beta Go是一款将交易专家与人工智能结合的智能交易系统，深度融合了人脑与计算机的优势，实现了7*24小时全天侯全自动的交易机制。</p>
            </div>
            <div class="media">
                <div class="media-body" style="text-align: center">
                    <video class="col-md-auto" controls="controls">
                        <source src="{% static "trading/media/9aff3d8c6b84324a3cbff662456f67ba.mp4" %}" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="alert alert-primary" role="alert">
                    <label for="exampleFormControlTextarea1" style="font-size: 40px"> 市场快讯 </label>
                </div>
                <div>
                    <iframe frameborder="0" width="100%" height="580" scrolling="yes"
                            src="https://www.jin10.com/example/jin10.com.html?fontSize=14px&theme=white"></iframe>
                </div>

            </div>
            <div class="col-md-auto" style="margin-top: 50px">
                <div class="alert alert-primary" role="alert">
                    <label for="exampleFormControlTextarea1" style="font-size: 40px">财经日历 </label>
                </div>
            </div>
            <div>
                <iframe frameborder="0" width="100%" height="580" scrolling="yes"
                        src="https://rili-d.jin10.com/open.php?fontSize=14px&theme=blue"></iframe>


                <br>
            </div>
        </div>
    </div>

{% endblock %}

</body>
</html>